<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>swr-Adonis</title>
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle " style="font-size:xx-large;font-weight:900">{{ sitename }}</div>
    <div class="subtitle">
      <p>Lowdb is implemented on adonisjs</p>
      {{ toAnchor('lists','List Items') }}
    </div>
  </section>
  <style>
    body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
    body {max-width:700px;width:100%;padding:2rem}
    ul,li {margin:0;padding:0}
</style>
</body>
</html>
